*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
} 
body{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}
#base{
  background:linear-gradient(220deg,rgb(255, 102, 0),rgb(11, 124, 199 )) ;
    width: 100%;
    height: 100%;
    position: absolute;
}
.contenedor{
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
}
.item{
  width: 300px;
  height: 300px;
  background: red;
  position: absolute;
}





.circulo{
  width: 250px;
  height: 250px;
  background: linear-gradient(to left,#0ea1e6,#1e67c7 );
  top:150px;
  right: 100px;
  animation: efectohuarajare1 8s ease infinite;
  -webkit-animation: efectohuarajare1 8s ease infinite ;
  animation-delay: 0s;
  border-radius: 50%;
}
.cuadrado{
  width: 200px;
  height: 200px;
  background: linear-gradient(to left,#ee8105,#c7371e );
  top:350px;
  right: -40;
  animation: efectohuarajare2 9s ease infinite;
  border-radius: 5px;
}
.rombo{
  width: 150px;
  height: 150px;
  background: linear-gradient(to left,#ee8105,#12728a );
  left:200px;
  top: 130px;
  animation: efectohuarajare3 10s ease infinite;
  -webkit-animation: efectohuarajare3 12s ease infinite;
  border-radius: 5px;
;

}
.cuerpo{
  background:linear-gradient(210deg,rgb(119, 11, 146), rgb(240, 55, 9));
  width: 320px;
  height: 420px;
  top: 50%;
  left: 50%;
  /* position: fixed; */
  position: absolute;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 3px 0px 10px 2px rgba(0,0,0,0.5);
}
img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
H1{
  text-align: center;
  top: 50px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 300px;
  right: 1px;
}
form{
  margin-top:40px;
}

.cuerpo label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
input{
  width: 100%;
  margin-bottom: 20px;
}
input[type="text"],input[type="password"]{
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}
.boton{
  border: none;
  outline: none;
  height: 40px;
  background:linear-gradient(210deg, rgb(240, 55, 9),rgb(119, 11, 146)) ;
  font-size: 18px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
a{
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}
@keyframes efectohuarajare1{
  0%{
    transform: translateY(0PX ) rotate(45deg);
}
  50%{
    transform: translateY(30PX) rotate(45deg);
}
100%{
  transform: translateY(0px) rotate(45deg);
  
}

}

@keyframes efectohuarajare2{
  0%{
    transform: translateY(0PX ) ;
}
  50%{
    transform: translateY(30PX); 
}
100%{
  transform: translateY(0px) ;
  
}

}
@keyframes efectohuarajare3{
  0%{
    transform: translateY(0PX ) rotate(45deg);
}
  50%{
    transform: translateY(25PX) rotate(45deg);
}
100%{
  transform: translateY(0px) rotate(45deg);
  
}

}